/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Hanken Grotesk', sans-serif;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overall-result-box{
    background-image: linear-gradient(hsl(252, 100%, 67%,1), hsl(241, 81%, 54%,1));
    text-align: center;
    height: 40vh;
    min-height: 400px;
    width: 100%;
    max-width: 400px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 1.2em;
    border-bottom: 1px none red;
    border-radius: 0 0 50px 40px;
    letter-spacing: 0.8px;
    box-sizing: border-box;
}

.circle-marks{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    height: 20%;
    width: 25%;
    /* border: 1px solid darkblue; */
    border-radius: 50%;
    padding: 30px;

    background-image: (hsl(241, 81%, 54%,0.9),hsl(252, 100%, 67%,0.1));
}

.total-score{
    display: block;
    font-size: 2.4em;
    font-weight: 700;
    padding-bottom: 10px;
}

.salutation{
    padding-bottom: 10px;
}

.overall-placement{
    padding: 0 30px;
    font-size: 0.8em;
    line-height: 1.3em;
}

.individual-marks-box{
    height: 60vh;
    width: 100%;
    max-width: 400px;
    padding: 20px 20px;
    box-sizing: border-box;
}

.individual-scores{
    margin: 20px 0;
    padding: 20px;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 10px;
    /* text-align: top; */
}

li{
    display: flex;
    justify-content: space-between;
}
li> .score{
    flex-grow: 0.5;
    align-items: end;
    text-align: end;
}

.reac{
    background-color: hsl(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}
.mem{
    background-color: hsl(39, 100%, 56%,0.1);
    color: hsl(39, 100%, 56%);
}

.ver{
    background-color: hsl(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.vis{
    background-color: hsl(234, 85%, 45%,0.1);
    color: hsl(234, 85%, 45%);
}

.summary{
    font-weight: 500;
    font-size: 1.4em;
    margin: 30px 0;
}

.button{
    /* width:100%; */
    display: block;
    background-color: hsl(224, 30%, 27%);
    padding: 20px 0px;
    border-radius: 40px;
    text-align: center;
    margin-top: 40px;
    color: white;
}

@media (min-width: 960px) {
    html{
        background-color: hsl(0, 0%, 99%);
    }
    .main-content{
        /* flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
        margin-left: 18%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
        max-width: 700px; */
        min-height: 100vh;
    }
    .centering{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 700px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
    }
    .overall-result-box{
        height: 500px;
        border-radius: 25px;
        max-width: 350px;
    }

    .individual-marks-box{
        height: 500px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
        max-width: 350px;

    }
    .individual-scores{
        padding: 15px 20px;
    }

    .circle-marks{
        width: 40%;
        height: 25%;
    }
    p{
        margin-top: 10px;
    }
}